<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{detail.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{detail.list.headline}]]</h1>
                <div>
                    <a th:href="@{/details/add}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2">[[#{detail.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${details.empty}">[[#{detail.list.empty}]]</div>
            <div th:if="${!details.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left p-2">[[#{detail.id.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{detail.name.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{detail.type.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{detail.material.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{detail.node.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="detail : ${details}" class="odd:bg-gray-100">
                            <td class="p-2">[[${detail.id}]]</td>
                            <td class="p-2">[[${detail.name}]]</td>
                            <td class="p-2">[[${detail.type}]]</td>
                            <td class="p-2">[[${detail.material}]]</td>
                            <td class="p-2">[[${detail.node}]]</td>
                            <td class="p-2">
                                <div class="float-right whitespace-nowrap">
                                    <a th:href="@{/details/edit/{id}(id=${detail.id})}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{detail.list.edit}]]</a>
                                    <form th:action="@{/details/delete/{id}(id=${detail.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm inline">
                                        <button type="submit" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{detail.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
